<div class="nav-icon" {{action "toggleControlPanel"}}>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

{{#if visible}}
  <a href="#" {{action "toggleLanguage"}}>{{t "controlPanel.switchLanguage"}}</a>
{{/if}}
