<button class="menu-toggle" {{action "toggleControlPanel"}}></button>
<nav>
  <ul class="menu">
    <li data-text="{{t "controlPanel.switchLanguage"}}"><a href="#" {{action "toggleLanguage"}}>{{t "controlPanel.switchLanguage"}}</a></li>
    <li data-text="Projects">Projects</li>
    <li data-text="About">About</li>
    <li data-text="Contact">Contact</li>
  </ul>
</nav>