<h1>
  {{selectedMenuItem.label}}
  {{#x-select value=defaultValue action="switchTool" class="menu"}}
    {{#each menuItems as |item|}}
      {{#x-option value=item.key}}{{item.name}}{{/x-option}}
    {{/each}}
  {{/x-select}}
</h1>
<p>{{selectedMenuItem.description}}</p>
