body.willpower{
  // _main.scss overrides
  color:$color-darkmode-main-text;
  background-color:$color-darkmode-background;
  h1, h2, h3, h4{
    color:$color-darkmode-main-text;
  }

  p{
    color:$color-darkmode-main-text-light;
  }

  .header{
    border:1px solid $color-darkmode-background;
    background-color:$color-darkmode-background;
  }

  .intro{
    background:$color-darkmode-background;
  }

  .uk-form input[type="text"], .uk-form input[type="number"], .uk-form input[type="tel"]{
    background-color:$color-darkmode-background;
    &:focus{
      color:$color-darkmode-main-text;
    }
  }

  .tools{
    .toolLabel{
      color:$color-darkmode-main-text-light;
    }
  }

  #footer #donateButton{
    color:$color-darkmode-main-text-light;
    &:hover{
      color:$color-form-text;
    }
  }

  // _imprint.scss overrides
  .uk-container-center{
    background-color:$color-darkmode-background;
  }

  // _menu.scss overrides
  .open #toggle-panel span, .open #close-imprint-page span{
    background: $color-form-text;
  }
  #toggle-panel span, #close-imprint-page span{
    @include respond-to("small"){
      background-color:$color-darkmode-background;
    }
  }

  ul.settings {
    background:$color-darkmode-background;
  }

  ul.settings li>a:hover {
    text-decoration: underline;
    background-color:$color-darkmode-background;
  }

  // _selectordie.scss overrides
  .suggest-select .sod_select {
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-image: inline-image("suggest.svg");
  }

  .sod_select.focus{
    background-color:$color-darkmode-background;
  }
  #menu{
    background:$color-darkmode-background;
    &.sod_select:before,
    &.sod_select:after{
      color:$color-darkmode-main-text;
    }
  }
  .sod_select{
    background: $color-darkmode-background;
  }

  .sod_select:before,
  .sod_select:after{
    color:$color-darkmode-main-text-light;
  }

  .sod_select .sod_list_wrapper{
    color:$color-darkmode-main-text;
    background: $color-darkmode-background;
  }
  .sod_select .sod_option.optgroup,
  .sod_select .sod_option.optgroup.disabled{
    color:$color-darkmode-main-text;
  }

  // _splits.scss overrides
  .splits-container table{
    tr{
      background-color:$color-darkmode-background;
    }
    tbody{
      tr, tr:nth-of-type(odd){
        border-bottom: 10px solid $color-darkmode-background;
        background-color:$color-darkmode-background;
      }
      tr.progress{
        background-color:$color-darkmode-main-text;
      }
    }
  }
}
