$color-main-background: #f6f6f6;
$color-secondary-background: #fff;
$color-main-text: #3d3d3d;
$color-main-text-light: #999;
$color-form-text: #0088cc;
$color-form-background: #fff;
$color-form-border: #dddddd;
$color-form-border-active: #fff;
$color-overlay-border: rgba(140,183,197,0.2);
$width-container: 960px;

@mixin respond-to($size) {
  @if $size == "xsmall" {
    @media only screen and (min-width:350px) { @content; }
  }
  @if $size == "small" {
    @media only screen and (min-width:480px) { @content; }
  }
  @else if $size == "medium" {
    @media only screen and (min-width: 768px) { @content; }
  }
  @if $size == "large" {
    @media only screen and (min-width: 960px) { @content; }
  }
  @if $size == "xlarge" {
    @media only screen and (min-width: 1220px) { @content; }
  }
}
