$color-main-background: #fff;
$color-secondary-background: #fff;
$color-main-text: #3d3d3d;
$color-main-text-light: #999;
$color-form-text: #4375a7;
$color-form-background: #fff;
$color-form-border: #dddddd;
$color-form-border-active: #fff;

$color-darkmode-background: #002b36;
$color-darkmode-main-text: #d2d2d2;
$color-darkmode-main-text-light: #59738e;

$color-overlay-border: rgba(67, 117, 167, 0.2);
$width-container: 960px;

@mixin respond-to($size) {
  @if $size == 'xsmall' {
    @media only screen and (min-width: 350px) {
      @content;
    }
  }
  @if $size == 'small' {
    @media only screen and (min-width: 480px) {
      @content;
    }
  } @else if $size == 'medium' {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $size == 'large' {
    @media only screen and (min-width: 960px) {
      @content;
    }
  }
  @if $size == 'xlarge' {
    @media only screen and (min-width: 1220px) {
      @content;
    }
  }
}
