.imprint{
  opacity: 0;
  z-index: -5;
  position: absolute;
  overflow: hidden;
  height:auto;
  top:0;
  bottom:0;
  width: 90%;
  left:5%;
  right:5%;
  @include respond-to("xlarge"){
    width: 100%;
    left:0;
    right:0;
  }
  @include transition(0.25s ease-in-out);
  p{
    line-height:1.9em;
  }
  &.open{
    opacity: 1;
    z-index: 15;
    overflow: visible;
    margin-top:100px;
    @include respond-to("small"){
      margin-top:180px;
    }
    @include transition(0.25s ease-in-out);
  }

  .uk-container-center{
    background-color:$color-secondary-background; // make it untransparent, when content extends the 100% height
    padding-bottom: 50px;
    padding-top: 50px;
    outline: 5px solid $color-overlay-border;
    margin-bottom: 5%;
  }
}
