.control-panel{
  position:relative;
  height: 0;
  max-width:$width-container;
  margin:0 auto;
}

#toggle-panel{
  width: 23px;
  height: 40px;
  z-index: 99999;
  position: absolute;
  top:0;
  right:0;
  margin: 0px 24px;
  @include transform(rotate(90deg));
  cursor: pointer;
}

#toggle-panel span{
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  margin-left: 7px;
  background: $color-secondary-background;
  border: 1px solid $color-form-text;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  @include transform(rotate(0deg));
  @include transition(0.25s ease-in-out);
}

#toggle-panel span:nth-child(1) {
  top: 0px;
}

#toggle-panel span:nth-child(2),#toggle-panel span:nth-child(3) {
  top: 15px;
}

#toggle-panel span:nth-child(4) {
  top: 30px;
}

.open #toggle-panel span{
  top: 17px;
  height: 3px;
  width: 3px;
  width: 100%;
  background: $color-form-text;
  margin-left: 0;
}

.open #toggle-panel span:nth-child(1) {
  width: 0%;
  left: 50%;
}
.open #toggle-panel span:nth-child(2) {
  @include transform(rotate(45deg));
}

.open #toggle-panel span:nth-child(3) {
  @include transform(rotate(-45deg));
}

.open #toggle-panel span:nth-child(4) {
  width: 0%;
  left: 50%;
}

ul.settings {
  position:absolute;
  right: 20px;
  top:40px;
  width:400px;
  opacity: 0;
  padding:0px 0px 0px 0px;
  list-style:none;
  background:$color-secondary-background;
  z-index: -9999;
  outline: 5px solid $color-overlay-border;
  @include transition(0.25s ease-in-out);
}

.open ul.settings{
  top:47px;
  opacity: 1;
  z-index: 9999;
}

ul.settings li a{
  font-size:1.5em;
  color: $color-form-text;
  display: block;
  padding:25px 25px 25px 70px;
}

ul.settings li a:hover {
  text-decoration:none;
  background-color:$color-main-background;
}

#panel-share::before,
#panel-language-en::before,
#panel-language-de::before,
#panel-expertmode-true::before,
#panel-expertmode-false::before,
#panel-share::before,
#panel-more::before{
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  margin: -10px 0 0 -50px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  @include transition(0.25s ease-in-out);
}

#panel-share:hover::before,
#panel-language-en:hover::before,
#panel-language-de:hover::before,
#panel-expertmode-true:hover::before,
#panel-expertmode-false:hover::before,
#panel-share:hover::before,
#panel-more:hover::before{
  width: 40px;
  height: 40px;
  margin: -15px 0 0 -55px;
}

#panel-language-en::before{
  background-image: url('/assets/images/language.svg');
}

#panel-language-de::before{
  background-image: url('/assets/images/language.svg');
  @include scaleX(-1);
}

#panel-expertmode-true::before{
  background-image: url('/assets/images/expertmode-off.svg');
}

#panel-expertmode-false::before{
  background-image: url('/assets/images/expertmode-on.svg');
}

#panel-share::before{
  background-image: url('/assets/images/share.svg');
}

#panel-more::before{
  background-image: url('/assets/images/more.svg');
}
