.control-panel{
  position:relative;
  height: 0;
  max-width:$width-container;
  margin:0 auto;
}

#toggle-panel{
  width: 23px;
  height: 40px;
  z-index: 99999;
  position: absolute;
  top:0;
  right:0;
  margin: 0px 24px;
  @include transform(rotate(90deg));
  cursor: pointer;
}

#toggle-panel span{
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  margin-left: 7px;
  background: $color-secondary-background;
  border: 1px solid $color-form-text;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  @include transform(rotate(0deg));
  @include transition(0.25s ease-in-out);
}

#toggle-panel span:nth-child(1) {
  top: 0px;
}

#toggle-panel span:nth-child(2),#toggle-panel span:nth-child(3) {
  top: 15px;
}

#toggle-panel span:nth-child(4) {
  top: 30px;
}

.open #toggle-panel span{
  top: 17px;
  height: 3px;
  width: 3px;
  width: 100%;
  background: $color-form-text;
  margin-left: 0;
}

.open #toggle-panel span:nth-child(1) {
  width: 0%;
  left: 50%;
}
.open #toggle-panel span:nth-child(2) {
  @include transform(rotate(45deg));
}

.open #toggle-panel span:nth-child(3) {
  @include transform(rotate(-45deg));
}

.open #toggle-panel span:nth-child(4) {
  width: 0%;
  left: 50%;
}

ul.settings {
  position:absolute;
  right: 20px;
  top:40px;
  width:300px;
  opacity: 0;
  padding:0px 0px 0px 0px;
  list-style:none;
  background:$color-secondary-background;
  z-index: -9999;
  outline: 5px solid $color-overlay-border;
  @include transition(0.25s ease-in-out);
}

.open ul.settings{
  top:47px;
  opacity: 1;
  z-index: 9999;
}

ul.settings li a{
  color: $color-form-text;
  display: block;
  padding:25px 25px 25px 65px;
}

ul.settings li a:hover, {
  background-color:$color-main-background;
}

#panel-share{
  background-image: url('/assets/images/share.svg');
  background-position: 24px center;
  background-repeat: no-repeat;
  background-size: 23px;
}

#panel-expertmode-true{
  background-image: url('/assets/images/expertmode-off.svg');
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 30px;
}

#panel-expertmode-false{
  background-image: url('/assets/images/expertmode-on.svg');
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 30px;
}

#panel-language-en{
  background-image: url('/assets/images/german.svg');
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 30px;
}

#panel-language-de{
  background-image: url('/assets/images/english.svg');
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 30px;
}

#panel-more{
  background-image: url('/assets/images/more.svg');
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 30px;
}
