.evenSlopeInvisible{
  height: 0;
  opacity: 0;
  z-index: -999;
  pointer-events: none; // otherwise links are clickable, even if invisible
  @include transition(0.2s ease-out);
}


.evenSlopeVisible{
  height: 70px;
  @include respond-to("small"){
    height: 108px;
  }
  @include respond-to("medium"){
    height: 84px;
  }
  opacity: 1;
  @include transition(0.5s ease-in-out);
}

.splits-container{
  max-width:430px;
  table{
    font-size:14px;
    line-height: 20px;
    @include respond-to("small"){
      font-size:21px;
      line-height: 30px;
    }
    thead{
      tr{
        background-color:$color-main-background;
      }

      th.distance{
        width: 80px;
        @include respond-to("small"){
          width: 130px;
        }
        @include respond-to("medium"){
          width: 120px;
        }
      }
      th.time{
        width: 70px;
        @include respond-to("small"){
          width: 110px;
        }
        @include respond-to("medium"){
          width: 100px;
        }
      }
    }
    tbody{
      tr{
        border-bottom: 10px solid $color-main-background;
        background-color:$color-secondary-background;
      }
      tr.progress{
        background-color:$color-form-border;
        td{
          padding:0;
          position:relative;
          div.distance-progress{
            background-color:$color-form-text;
            height:1px;
          }
          div.time-progress{
            width: 0;
            height: 9px;
            border-right:1px solid $color-form-text;
            position: absolute;
            margin-top: -4px;
          }
        }
      }
    }
    td, th{
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
