.splits-container{
  max-width:500px;
  table{
    font-size:21px;
    thead{
      tr{
        background-color:$color-secondary-background;
        border-bottom: 10px solid $color-main-background;
      }
    }
    tbody{
      tr{
        border-bottom: 10px solid $color-main-background;
        background-color:$color-secondary-background;
        padding-left: 20px;
        &:nth-of-type(odd){
          background-color:$color-tablerow-odd;
        }
      }
    }
  }
}
