.splits-container{
  max-width:500px;
  table{
    font-size:14px;
    line-height: 20px;
    @include respond-to("small"){
      font-size:21px;
      line-height: 30px;
    }
    thead{
      tr{
        background-color:$color-main-background;
      }
    }
    tbody{
      tr{
        border-bottom: 10px solid $color-main-background;
        background-color:$color-secondary-background;
        padding-left: 20px;
        &:nth-of-type(odd){
          background-color:$color-tablerow-odd;
        }
      }
    }
  }
}
