@import "config";
@import "selectordie";
body{
	font-size:3em;
	line-height:0.8em;
	color:$color-main-text;

	h1{
		font-size:2em;
		line-height:2em;
	}

	.uk-form input[type="text"], .uk-form input[type="number"]{
		text-align: center;
		color:$color-form-text;
		border-color:$color-form-border;
		height:2em;
		border-top:none; border-left:none; border-right:none;
		padding: 0px 6px 8px 6px;
		&:focus{
			color:$color-main-text;
			background-color: $color-form-background;
			border-color: $color-form-border-active;
		}
	}
}