@import "config";
@import "selectordie";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html{
	background-color:$color-main-background;
}

body{
	line-height:0.8em;
	color:$color-main-text;
  padding: 0 50px;

	h1{
		font-size:2em;
		line-height:2em;
	}

  p{
    font-size:1.5em;
    color:$color-main-text-light;
  }

	form{
		font-size:42px;
		padding:50px 0;
		font-family: 'Open Sans', Georgia, sans-serif;
	}

	.header{
    background:url('images/runverter-logo.svg') no-repeat center;
    background-size:contain;
    background-size:300px;
		height: 180px;
	}

  .intro{
    text-align: center;
    h1, .sod_select{
      font-size: 42px;
      border:none;
    }
  }

	.uk-form input[type="text"], .uk-form input[type="number"]{
		text-align: center;
		color:$color-form-text;
		border-color:$color-form-border;
		background-color:$color-main-background;
		height:2em;
		border-top:none; border-left:none; border-right:none;
		padding: 0px 6px 6px 6px;
		&:focus{
			color:$color-main-text;
			background-color: $color-form-background;
			border-color: $color-form-border-active;
		}
	}

  .tool-label{
    font-size:42px;
    padding:33px 0 0 0;
    color:$color-main-text-light;
    text-align: right;
  }
}
