$color-main-background: #f6f6f6;
$color-main-text: #3d3d3d;
$color-form-text: #0088cc;
$color-form-background: #fff;
$color-form-border: #dddddd;
$color-form-border-active: #fff;

@mixin respond-to($size) {
  @if $size == "small" {
    @media only screen and (min-width:480px) { @content; }
  }
  @else if $size == "medium" {
    @media only screen and (min-width: 768px) { @content; }
  }
  @if $size == "large" {
    @media only screen and (min-width: 960px) { @content; }
  }
  @if $size == "xlarge" {
    @media only screen and (min-width: 1220px) { @content; }
  }
}
