<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
	<h1>Runverter</h1>
	<form class="uk-form">
	 		<div class="uk-form-row">
	 			<input type="text" size="2" maxlength="2" type="number"> , <input type="text" size="2" maxlength="2" type="number"> km
	 		</div>
	 		<div class="uk-form-row">
	 			<input type="text" size="2" maxlength="2" type="number"> : <input type="text" size="2" maxlength="2" type="number"> : <input type="text" size="2" maxlength="2" type="number"> time
	 		</div>
	 		<div class="uk-form-row">
	 			<input type="text" size="2" maxlength="2" type="number"> : <input type="text" size="2" maxlength="2" type="number"> pace
	 		</div>
	</form>
</div>