<form class="uk-form">
	<h1>{{t "paceCalculator.headline"}}</h1>
	<div class="uk-form-row">
		<input size="2" maxlength="2" type="text"> , <input size="2" maxlength="2" type="text"> km
	</div>
	<div class="uk-form-row">
		<input size="2" maxlength="2" type="text"> : <input size="2" maxlength="2" type="text"> : <input size="2" maxlength="2" type="text"> time
	</div>
	<div class="uk-form-row">
		<input size="2" maxlength="2" type="text"> : <input size="2" maxlength="2" type="text"> pace
	</div>
</form>