<div class="uk-container uk-container-center uk-padding-remove">
  <div class="header">&nbsp;</div>
	<div class="uk-grid">
		<div class="uk-width-1-1 uk-width-medium-1-3 nav">
			<ul class="uk-nav uk-nav-side">
				<li class="uk-active"><a href="#">Pace Calculator</a></li>
    		<li><a href="#">Pace Converter</a></li>
        <li><a href="#">Lenght Converter</a></li>
        <li><a href="#">Race Predictor</a></li>
        <li><a href="#">Split Time Calculator</a></li>
			</ul>
		</div>
    <div class="uk-width-1-1 uk-width-medium-2-3">
			{{outlet "main"}}
		</div>
	</div>
</div>