<div class="header">&nbsp;</div>
<div class="intro">
  <h1>
    You're using the
    <select class="menu">
      <option>Pace Calculator</option>
      <option>Pace Converter</option>
      <option>Lenght Converter</option>
      <option>Race Predictor</option>
      <option>Split Time Calculator</option>
    </select>
  </h1>
  <p>See which pace you need, to finish a run in your desired time.</p>
</div>
<div class="uk-container uk-container-center">
  {{outlet "main"}}
</div>