<div class="intro">
  {{tool-selector menuItems=tools selectedMenuItem=selectedTool action="navigateTo"}}
</div>
<div class="uk-container uk-container-center">
  {{pace-calculator run=model}}
  {{pace-converter run=model}}
  {{length-converter run=model}}
</div>
