<div class="intro">
  {{tool-selector menuItems=tools selectedMenuItem=selectedTool defaultValue=selectedToolKey action="navigateTo"}}
</div>
<div class="uk-container uk-container-center">
  {{pace-calculator run=model selectedMenuItem=selectedTool}}
  {{pace-converter run=model selectedMenuItem=selectedTool}}
  {{length-converter run=model selectedMenuItem=selectedTool}}
</div>
