<form class="uk-form">
  <div class="uk-grid uk-grid-collapse tool-line">
    <div class="uk-width-1-1 uk-width-medium-2-5 tool-label">
      A distance of &nbsp;
    </div>
    <div class="uk-width-1-1 uk-width-medium-3-5">
      {{input value=model.lengthKmStackKm size="2" maxlength="2" type="text"}} , {{input value=model.lengthKmStackDecimal size="2" maxlength="2" type="text"}} km
    </div>
  </div>
  <div class="uk-grid uk-grid-collapse tool-line">
    <div class="uk-width-1-1 uk-width-medium-2-5 tool-label">
      equals a distance of &nbsp;
    </div>
    <div class="uk-width-1-1 uk-width-medium-3-5">
      {{input value=model.lengthMiStackMi size="2" maxlength="2" type="text"}} , {{input value=model.lengthMiStackDecimal size="2" maxlength="2" type="text"}} mi
    </div>
  </div>
</form>
